
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Arun|Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>I'm Arun,</h1>
							<p><h3>Software Engineer | Python & Angular 8+</h3></p>
							<p>I have 2+ years of experience in Software Applications Development.<br> <!-- and currently working at Appinventiv Technology Pvt. Ltd -->
							Scroll down for my Project details<br>
						</p>
							<ul class="actions">
								<li><a href="#haddedha" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{{ url_for('static', filename='images/arunrajaryan.jpg') }}" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="haddedha">
						<header>
							<h2>HOSPITAL BOT (PYTHON PLUGIN)</h2>
						</header>
						<div class="content">
							<p><strong>HOSPITAL BOT (PYTHON PLUGIN)</strong> Features:
                                 Getting data using API
                                 Searching information using particular emirates id.
                                 If the data is found then creating an excel sheet.
                                 Then writing all the details of the patient using web scraping<br>
								<b><u>
									<a href="https://play.google.com/store/apps/details?id=com.yapapp.settleit" target="blank" style="color:blue">Play Store</a>
								</u></b><br>
							<span class="image main"><img src="{{ url_for('static', filename='images/haddedha.png') }}" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
			
					<!-- Section -->
				
					<!-- Section -->
					<section id="kengolf">
						<header>
							<h2>Breathalyzer Alcohol Content Check:</h2>
						</header>
						<div class="content">
							<p>An application feature Which is Integrated
                                with an IoT Device and passing the values to the application. The BAC status will
                                be displayed in message board in the application & Generate Report: A reporting
                                tool which is integrated in the application to generate the reports according to the
                                data.
							<br>Technologies used - Android Studio, Kotlin, XML, KOIN, MVVM, Data-Binding, Navigation
								components.<br>
								<b><u>
							<a href="https://play.google.com/store/apps/details?id=com.kengolfpro.app" target="blank" style="color:blue">Play Store</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/kengolfpro.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="codespect">
						<header>
							<h2>LMS [Learning Management System]</h2>
						</header>
						<div class="content">
							<p>A website application that manages learning system, includes mainly 3 modules.
                                Features:
                                     Admin Module- Who manages the entire system and having all the super permissions
                                     Trainer Module- Who can manage the course and to guide the trainee
                                     Trainee Module – Who can learn the course which is assigned to them and to do many
                                    courses related activities
                                    The project is developed mainly using back-end Python with Django and front-end Angular,
                                    HTML, CSS and JavaScript. connectivity using Rest API and Database connection to MySQL.
                                    All the details are managed Dynamically.
							<br>Technologies used - Android Studio, Kotlin, XML, HILT, MVVM, Data-Binding, Navigation
								components.<br>
								<b><u>
							<a href="https://play.google.com/store/apps/details?id=com.codespect.app" target="blank" style="color:blue">Play Store</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/codespect.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="basket">
						<header>
							<h2>AVL PROJECT [AUTOMATIC VEHICLE LOCATION]</h2>
						</header>
						<div class="content">
							<p>Features:
                                 Getting data from a device in the form of location
                                 Storing data in the database
                                 With the help of Latitude and Longitude from the database, showing a particular
                                Location in the map.
                                 Project created front-end in angular framework and back-end API in Django
                                Framework for storing data in database.
							<br>Technologies used - Android Studio, Kotlin, XML,Java, Room, Dagger.
							<br>
								<b><u>
							<a href="https://play.google.com/store/apps/details?id=com.basketsavings.basket" target="blank" style="color:blue">Play Store</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/basket.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="vm">
						<header>
							<h2>VENDING MACHINE <br>(under development)</h2>
						</header>
						<div class="content">
							<p>Login through mobile & enter vending machine id or scan qr code.
                                 Select product & checkout through rozerpay.
                                 Backend will verify the signature of payment order getting placed.
                                 Vending machine will get temporary memory data to dispense.
							<br>Technologies used - Android Studio, Kotlin,XML, HILT, MVVM, Data-Binding, Navigation
								components, AGORA, Live streaming.<br>
								<b><u>
							 <a href="https://memberdating.itechnolabs.tech/" target="blank" style="color:blue">Website</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/whetness.png') }}" alt="" /></span>
 						</div>
					</section>
				
				<!-- Section -->
					<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<p><strong>If you need high quality app</strong> with rapid
								turnaround please contact, You will be 100% satisfied and we do what we say.<br>
								my <b><a href="https://www.upwork.com/freelancers/~0168aba792b1971ee1" target="blank"><span class="label" style="color:green">Upwork Profile</span></a></b></p>
							<!-- <li> -->
								<br><br><br>
								<h3>Elsewhere</h3>
								<ul class="icons">
<!--									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
									<li><a href="https://wa.me/9934110211?text=Hello" target="blank"  class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
									<li><a href="mailto:ak080495@gmail.com" target="blank"  class="icon brands fa-google"><span class="label">Gmail</span></a></li>
									<li><a href="https://www.linkedin.com/in/arun-kumar-1bb0b4b5/" target="blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/arun12341234/" target="blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									<!-- <li><a href="https://bitbucket.org/surajShuttler/" target="blank" class="icon brands fa-bitbucket"><span class="label">Bitbucket</span></a></li> -->

								</ul>
							</li>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="mailto:ak080495@gmail.com" target="blank" style="color:blue">ak080495@gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<span><a href="tel:+919934110211" style="color:blue">+919934110211</a> | <a href="tel:+919663720230" style="color:blue">+919663720230</a></span>
								</li>
								<li>
									<h3>Address</h3>
									<span>House no. 3072/1B, Block 7, Ranjeet Nagar, New Delhi, Delhi 110008, Punjab.
									</span>
								</li>
							</ul>
						</footer>
					</section>
			</div>

		<!-- Scripts -->
        
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>