
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Arun|Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>I'm Arun,</h1>
							<p><h3>Software Engineer | Python & Angular 8+</h3></p>
							<p>I have 2+ years of experience in Software Applications Development.<br> <!-- and currently working at Appinventiv Technology Pvt. Ltd -->
							Scroll down for my Project details<br>
						</p>
							<ul class="actions">
								<li><a href="#haddedha" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{{ url_for('static', filename='images/arunrajaryan.jpg') }}" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="haddedha">
						<header>
							<h2>WOODSMAN
                                SHOPPEE</h2>
						</header>
						<div class="content">
							<p><strong>WOODSMAN
                                SHOPPEE</strong> is an Arabic app where we can see the properties(plots) on the Google Map. Created and implemented the custom maps for showing the plots on the map.
							<br>Technologies used - Angular Python(Django), Django rest framework.<br>
								<b><u>
									<a href="https://play.google.com/store/apps/details?id=com.yapapp.settleit" target="blank" style="color:blue">Play Store</a>
								</u></b><br>
							<span class="image main"><img src="{{ url_for('static', filename='images/haddedha.png') }}" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="keepook">
						<header>
							<h2>Saansconit</h2>
						</header>
						<div class="content">
							<p><strong>Saansconit</strong> Your promises matter to those who care about
								you. Keepook is that little nudge we all need. The app is fun and easy to use. Whether
								your promises are fun or life-changing, use Keepook to make them. Break
							<br>Technologies used - Angular Python(Django), Django rest framework etc.<br>

								<b><u>
									<a href="https://play.google.com/store/apps/details?id=har.keepook" target="blank" style="color:blue">Play Store</a>
								</u></b><br>
							<span class="image main"><img src="{{ url_for('static', filename='images/keepook.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="smarttask">
						<header>
							<h2>Smart Task</h2>
						</header>
						<div class="content">
							<p>The smart task is a services provider app similar to urban clap but in the smart task, we
								have only 7-8 services included with sub-services.
							<br>Technologies used - Android Studio, Kotlin, XML, Daggar, MVVM, Data-Binding, Navigation
								components.<br>
								<b><u>
							<a href="https://play.google.com/store/apps/details?id=com.smarttask.customer" target="blank" style="color:blue">Customer</a>
								</u></b><br>
								<b><u>
									<a href="https://play.google.com/store/apps/details?id=com.smarttask.tasker" target="blank" style="color:blue">Tasker</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/smart task.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="kengolf">
						<header>
							<h2>KenGolfPro</h2>
						</header>
						<div class="content">
							<p>This app is for the GOLF players to maintain the player’s records and view analytics, and
								also will use to add/update scorecards.
							<br>Technologies used - Android Studio, Kotlin, XML, KOIN, MVVM, Data-Binding, Navigation
								components.<br>
								<b><u>
							<a href="https://play.google.com/store/apps/details?id=com.kengolfpro.app" target="blank" style="color:blue">Play Store</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/kengolfpro.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="codespect">
						<header>
							<h2>CodeSpect</h2>
						</header>
						<div class="content">
							<p>This app will help the NYC builders to maintain the important documents, HIstory, issues
								etc in one place and also will able to create the daily progress reports.
							<br>Technologies used - Android Studio, Kotlin, XML, HILT, MVVM, Data-Binding, Navigation
								components.<br>
								<b><u>
							<a href="https://play.google.com/store/apps/details?id=com.codespect.app" target="blank" style="color:blue">Play Store</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/codespect.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="basket">
						<header>
							<h2>Basket Savings</h2>
						</header>
						<div class="content">
							<p>Basket is a community of smart shoppers that are tired of shopping blind and that love saving time and money every time they go shopping, community shares the prices and deals they find on everyday items with each other to make sure you find your favorite products at stores you love at the best prices possible.
							<br>Technologies used - Android Studio, Kotlin, XML,Java, Room, Dagger.
							<br>
								<b><u>
							<a href="https://play.google.com/store/apps/details?id=com.basketsavings.basket" target="blank" style="color:blue">Play Store</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/basket.png') }}" alt="" /></span>
						</div>
					</section>
					<!-- Section -->
					<section id="whetness">
						<header>
							<h2>Whetness<br>(under development)</h2>
						</header>
						<div class="content">
							<p>This is an entertainment app where we have content providers and users log in. The
								content provider will be able to add posts (paid/free), add subscription plans, update
								profiles, add stories and start live streaming and chatting with users that have
								subscribed to the same provider.
								And user will be able to see the provider posts photos/video and stories and also able to
								buy the post to view the content and will be able to see the live streaming with
								subscribed.
							<br>Technologies used - Android Studio, Kotlin,XML, HILT, MVVM, Data-Binding, Navigation
								components, AGORA, Live streaming.<br>
								<b><u>
							 <a href="https://memberdating.itechnolabs.tech/" target="blank" style="color:blue">Website</a>
								</u></b></p>
							<span class="image main"><img src="{{ url_for('static', filename='images/whetness.png') }}" alt="" /></span>
 						</div>
					</section>
				
				<!-- Section -->
					<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<p><strong>If you need high quality app</strong> with rapid
								turnaround please contact, You will be 100% satisfied and we do what we say.<br>
								my <b><a href="https://www.upwork.com/freelancers/~0168aba792b1971ee1" target="blank"><span class="label" style="color:green">Upwork Profile</span></a></b></p>
							<!-- <li> -->
								<br><br><br>
								<h3>Elsewhere</h3>
								<ul class="icons">
<!--									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
									<li><a href="https://wa.me/9934110211?text=Hello" target="blank"  class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
									<li><a href="mailto:ak080495@gmail.com" target="blank"  class="icon brands fa-google"><span class="label">Gmail</span></a></li>
									<li><a href="https://www.linkedin.com/in/arun-kumar-1bb0b4b5/" target="blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/arun12341234/" target="blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									<!-- <li><a href="https://bitbucket.org/surajShuttler/" target="blank" class="icon brands fa-bitbucket"><span class="label">Bitbucket</span></a></li> -->

								</ul>
							</li>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="mailto:ak080495@gmail.com" target="blank" style="color:blue">ak080495@gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<span><a href="tel:+919934110211" style="color:blue">+919934110211</a> | <a href="tel:+919663720230" style="color:blue">+919663720230</a></span>
								</li>
								<li>
									<h3>Address</h3>
									<span>House no. 3072/1B, Block 7, Ranjeet Nagar, New Delhi, Delhi 110008, Punjab.
									</span>
								</li>
							</ul>
						</footer>
					</section>
			</div>

		<!-- Scripts -->
        
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>